<section>
  <header>
    Organizer: <strong>{{dateService.date | async | moment : 'DD.MM.YYYY'}}</strong>
    <hr>
  </header>
  <div>

    <table>
      <thead>
        <tr>
          <th>
            <label>start</label>
          </th>
          <th>
            <label>end</label>
          </th>
          <th>
            duration
          </th>
          <th>
            expected time
          </th>
          <th>
            task type
          </th>
          <th>
            project
          </th>
          <th>
            task
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskService.tasks">
          <td>{{task.start}} </td>
          <td>{{task.end}}</td>
          <td>{{task.duration}}</td>
          <td>{{task.expected}}</td>
          <td>{{task.type}}</td>
          <td>{{task.project}}</td>
          <td>{{task.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer>
    <button type="submit" class="btn btn-primary btn-block" (click)="taskService.showModal = true"
      [disabled]='!moment().isSame(dateService.date.value, "date")'>Add</button>
  </footer>
</section>