section {
  border: 1px solid #000;
  padding: 1rem;

  header {
    margin-bottom: 1rem;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}
table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid var(--dark-color);
    padding: 10px;
    text-align: center;
    padding: 10px;
  }
}

footer {
  margin-top: 20px;
}
