<div class="all">
    <div class="login-form">
        <figure>
            <img src="../assets/images/logo.jpg" alt="logo">
        </figure>
        <!-- <button class="btn btn-block btn-primary" (click)="authService.login()">Вход через
            Google</button>
        <button class="btn btn-block btn-primary" (click)="authService.FacebookAuth()">Вход через
            facebook</button> -->
        <div>
            Login with:
        </div>
        <div class="socials-block">
            <img src="../assets/icons/facebook.svg" alt="" (click)="authService.FacebookAuth()">
            <img src="../assets/icons/google.png" alt="" (click)="authService.login()">
        </div>
    </div>
</div>