<div class="container">
    <header>
        <app-selector></app-selector>
    </header>
    <main>
        <app-calendar></app-calendar>
    </main>
    <div>
        <app-organizer></app-organizer>
    </div>
</div>
<app-modal *ngIf="taskService.showModal"></app-modal>