.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(#000, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 800px;
    height: 400px;
    z-index: 111;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
  }
}

table {
  border-collapse: collapse;
}

.btn__block {
  width: 100%;
  margin-top: auto;
}
