<div class="modal">
  <div class="modal__content">
    <table class="form__block" (ngSubmit)="submit()" [formGroup]="form">
      <thead>
        <tr>
          <th>
            <label>start</label>
          </th>
          <th>
            <label>end</label>
          </th>
          <th>
            duration
          </th>
          <th>
            expected time
          </th>
          <th>
            task type
          </th>
          <th>
            project
          </th>
        </tr>
      </thead>
      <tr>
        <td>
          <input class="input-field" type="time" formControlName="start" (change)="select_date()">
        </td>
        <td>
          <input class="input-field" type="time" formControlName="end" (change)="select_date()">
        </td>
        <td>
          <input class="input-field" readonly type="text" value="{{difference}}">
        </td>
        <td>
          <input class="input-field" type="time" formControlName="expected">
        </td>
        <td>
          <select class="input-field" formControlName="type">
            <option *ngFor="let item of types" value="{{item}}">{{item}}</option>
          </select>
        </td>
        <td>
          <select class="input-field" formControlName="project" (change)="get_branch()">
            <option *ngFor="let item of projects" value="{{item.name}}">{{item.name}}</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="btn__block">
      <input type="submit" (click)="submit()" label="save" class="btn">
      <button (click)="close()" class="btn btn-primary">close</button>
    </div>
  </div>
</div>